<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>html email</title>
</head>

<body>
  <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-left: auto; margin-right: auto; border-radius: 5px; box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);">
    <tbody>
      <tr>
        <td style="font-size: 0;padding-top: 15px;padding-left: 15px;padding-right: 15px;">
          <a href="http://www.baidu.com">
            <img src="cid:logo" alt="LOGO" width="500" height="50" style="display: block;border: none; margin-left: auto; margin-right: auto; border-radius: 3px;box-shadow: 0 0 5px rgba(0, 0, 0, .2);"
            />
          </a>
        </td>
      </tr>
      <tr>
        <td style="text-align: center;color: #666666;padding-top: 10px;">
          <b>重庆铭贝科技有限公司消息发布系统</b>
        </td>
      </tr>
      <tr>
        <td style="padding-top: 15px;padding-left: 15px;padding-right: 15px;">
          <table>
            <tbody>
              <tr>
                <td colspan="2">
                  <h2><%= title %></h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <p><%= p %></p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="cid:001" alt="" style="width: 100%;">
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <p>网易云课堂 零基础,零代码,一站式掌握必知必会全部技能!一线资深前端开发团队,打造前端系统化课程,助你开启新的职业生涯!</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="http://39.108.114.59/logo/aaa1_8-19-2018_29333284864167153_sky_lanterns_by_wlop-d7b5nfg.jpg" alt="" style="width: 100%;">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td style="border-top: 1px dashed #888888;padding-top: 10px;padding-left: 15px;padding-right: 15px;padding-bottom: 15px;">
          <table style="color: #888888;font-size: 14px;">
            <tbody>
              <tr>
                <td>
                  <span style="color: #555555;">公司网址：</span>
                  <span><a href="http://www.baidu.com" style="text-decoration: none;color: #888888;">www.baidu.com</a></span>
                </td>
              </tr>
              <tr>
                <td>
                  <span style="color: #555555;">公司E-mail:</span>
                  <span>name@yourcompnyname.com</span>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <span style="color: #555555;">公司地点：</span>
                  <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>版权@xxxxxx</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>